@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Poppins */
@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./fonts/poppins/Poppins-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

/* Comic Relief */
@font-face {
  font-family: 'ComicRelief';
  src: url('./fonts/comic_relief/ComicRelief-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'ComicRelief';
  src: url('./fonts/comic_relief/ComicRelief-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Basketball';
  src: url('./fonts/basketball/Basketball.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-montserrat {
  font-family: 'Montserrat', sans-serif;
}

.font-comic {
  font-family: 'ComicRelief', cursive;
}
.font-basketball {
  font-family: 'Basketball', cursive;
}
